.page__content {
  margin: 0 auto;

  max-width: 940px;
}

@media screen and (min-width: 1440px) {
  .page__content {
    max-width: 1260px;
  }
}

@media screen and (max-width: 768px) {
  .page__content {
    max-width: 620px;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    margin: 0;
    max-width: 320px;
    overflow: hidden;
  }
}
