.main {
  background-color: white;
  margin: 0;
}

.cards__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 20px;
}

@media screen and (max-width: 960px) {
  .cards__list {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .cards__list {
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: flex-start;
  }
  .card {
    min-width: 300px;
  }
}
